h1{
    background-color: black;
    color: beige;
    font-family: cursive;
    font-size: 60px;
}

.message{
    color: chocolate;
    background-color: beige;
}

#message_1{
    color: #856545;
    background-color: black;
    font-family: 'Times New Roman', Times, serif; 
    height: 75pxpx;
}
p{
    background-color: rgb(25, 67, 98);
    color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-inline-start: 20px;
    max-width: 400px;
     
}